.list {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 200px; Remove padding to allow clean full scroll */
}

.scrollProgress {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 100;
    mix-blend-mode: difference;
    font-feature-settings: "tnum";
}

/* Removed header styles as .header is removed from DOM */